---
layout: null
author_profile: true
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<title>dsrv labs - Blockchain research labs.</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- 검색 노출 허용 -->
<meta name="robots" content="index">
<!-- 대표 이미지 URL (이미지를 여러 개 지정할 수 있음) -->
<link rel="image_src" href="https://www.dsrvlabs.com/assets/myimg/timeline_01_dsrvlabs.jpg" />

<!-- 기본 사이트 설정 -->
<meta content="블록체인 연구소 - dsrv labs. Block Validator, Block Producer, Analysis, Zero-knowledge proof" name="description">
<meta content="dsrvlabs, 블록체인, blockchain, 이더리움, ethereum, factom, 팩텀, 블록체인 연구소, 블록체인 코어, blockchain core" name="keywords">


<!-- Twitter Meta Tags -->
<!-- 트위터 카드 summary는 웹페이지에 대한 요약정보를 보여주는 카드로 우측에 썸네일을 보여주고 그 옆에 페이지의 제목과 요약 내용을 보여준다.-->
<meta name="twitter:card" content="summary" />
<!-- 트위터 카드를 사용하는 표시하고싶은URL-->
<meta name="twitter:url" content="https://www.dsrvlabs.com" />
<!-- 트위터 카드에 나타날 웹 사이트의 제목-->
<meta name="twitter:title" content="dsrv labs." />
<!-- 트위터 카드에 나타날 요약 설명-->
<meta name="twitter:description" content="블록체인 연구소 - dsrv labs" />
<!-- 트위터 카드에 보여줄 대표 이미지 URL-->
<meta name="twitter:image" content="https://www.dsrvlabs.com/assets/myimg/timeline_01_dsrvlabs.jpg" />
<!-- 트위터 카드에 사이트 배포자 트위터아이디-->
<meta name="twitter:site" content="@jongkwang" />
<!-- 트위터 카드에 배포자 트위터아이디 -->
<meta name="twitter:creator" content="@jongkwang" />

<!-- Facebook Meta Tags -->
<!-- <meta property="fb:app_id" content="dsrv labs." />       앱아이디 -->
<!-- Naver 오픈 그래프 권고테그 -->
<!-- 웹 사이트의 제목 -->
<meta property="og:title" content="dsrv labs." />
<!-- 사이트 종류 -->
<meta property="og:type" content="website" />
<!-- 대표 이미지 URL (이미지를 여러 개 지정할 수 있음) -->
<meta property="og:image" content="https://www.dsrvlabs.com/assets/myimg/timeline_01_dsrvlabs.jpg" />
<!-- 웹 사이트의 제목 -->
<meta property="og:site_name" content="블록체인 연구소 - dsrv labs." />
<!-- 표시하고싶은URL -->
<meta property="og:url" content="https://www.dsrvlabs.com" />
<!-- 페이지 설명 -->
<meta property="og:description" content="블록체인 연구소 - dsrv labs. Block Validator, Block Producer, Analysis, Zero-knowledge proof" />

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<!-- Bootstrap Core CSS -->
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Plugins CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<!-- <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
<link href="assets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/jquery-magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">

<!-- Component CSS -->
<link href="assets/css/component/component.css" rel="stylesheet" type="text/css">

<!-- Main CSS -->
<link href="assets/css/rinjani.css" rel="stylesheet" type="text/css">

<!-- Color CSS -->
<link href="assets/css/colors/blue.css" rel="stylesheet" type="text/css">
<link href="assets/css/component/colors/blue.css" rel="stylesheet" type="text/css">

<style>
	* {text-transform: none !important}
</style>

<!-- Modernizr JS for IE9 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="assets/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">

	<!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Begin Page Loader -->
	<div id="page-loader">
		<div class="preload">
			<img src="assets/img/preloader.gif" alt="Loading" />
		</div>
		<!-- //.preload -->
	</div>
	<!-- //End Page Loader -->


	<!-- Begin Intro Section -->
	<section id="intro" style="height: 100%;">
		<div class="intro-body text-center" style="vertical-align: bottom; bottom: 70px;">
				<div class="intro-text text-center" style="margin-top: 0;">
					<h2>dsrv labs</h2>

					<p class="lead">Blockchain research labs.<BR>블록체인에 대한 가장 기술적인 이야기를 들을 수 있는 곳 - dsrvlabs.com</p>
				</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 intro-content">
						<!--<div class="logo">-->
						<!--<h1></h1>-->
						<!--</div>-->
						<!-- //.logo -->

						<!-- <div class="intro-text text-center" style="margin-top: 0; margin-bottom: 300px;">
							<h2>dsrv labs</h2>

							<p class="lead">Blockchain research labs.<BR>블록체인에 대한 가장 기술적인 이야기를 들을 수 있는 곳 - dsrvlabs.com</p>
						</div> -->
						<!-- //.intro-text -->

						<!-- <div class="page-scroll">
							<a href="#who-we-are" class="btn btn-lg btn-rj">More</a>
						</div> -->
						<!-- //.page-scroll -->
					</div>
					<!-- //.intro-content -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.container -->
		</div>
		<!-- //.intro-body -->
	</section>
	<!-- //End Intro Section -->


	<!-- Begin Navbar -->
	<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#page-top" style="font-weight: 300;">dsrv labs.</a>
			</div>
			<!-- //.navbar-header -->

			<div class="navbar-collapse collapse navbar-rj-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="page-scroll"><a href="https://www.dsrvlabs.com/blog/" target="_self">Blog</a></li>
					<li class="page-scroll"><a href="#who-we-are">About</a></li>
					<li class="page-scroll"><a href="#meet-the-team">Team</a></li>
					<li class="page-scroll"><a href="#our-main-skills">Skills</a></li>
					<li class="page-scroll"><a href="#our-history">History</a></li>
					<li class="page-scroll"><a href="#contact-us">Contact</a></li>
				</ul>
			</div>
			<!-- //.navbar-collapse -->
		</div>
		<!-- //.container -->
	</nav>
	<!-- //End Navbar -->


	<!-- Begin Who We Are Section -->
	<section id="who-we-are" class="section">
		<div class="section-inner">
			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2 class="main-title">Who We Are?</h2>

							<h3 class="sub-title">Blockchain Research & Expert Laboratory</h3>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<div class="row">
					<div class="col-md-6">
						<div id="carousel-who-we-are" class="owl-carousel owl-theme">
							<div class="item">
								<img src="assets/myimg/carousel1.jpg" alt="" class="img-responsive img-rounded" />
							</div>
							<!-- //.item -->

							<div class="item">
								<img src="assets/myimg/carousel2.jpg" alt="" class="img-responsive img-rounded" />
							</div>
							<!-- //.item -->

							<div class="item">
								<img src="assets/myimg/carousel3.jpg" alt="" class="img-responsive img-rounded" />
							</div>
							<!-- //.item -->

							<div class="item">
								<img src="assets/myimg/carousel4.jpg" alt="" class="img-responsive img-rounded" />
							</div>
							<!-- //.item -->

						</div>
						<!-- //.owl-carousel -->
					</div>
					<!-- //.col-md-6 -->

					<div class="col-md-6">
						<div class="who-we-are-text">
							<h4>dsrv labs.</h4>

							<p>
								블록체인 기술에 대한 연구와 컨설팅을 진행하는 연구소 입니다.
								<br>
								블록체인 기술 만큼 검증보다 투자가 먼저 몰리는 분야도 없을 것입니다. 그만큼 미래를 바꿀 기술이기도 하지만, 기술 검증이 필요한 분야 이기도 합니다.
								<br>
								저희 dsrv labs 에서는 블록체인 기술을 실제로 운영하며 코드를 분석하여 객관적인 정보를 전달하겠습니다. 누군가는 중립적인 그리고 개발자적인 레벨에서 분석과 연구가 필요하다고 생각하며 저희가 가장 잘 할 수 있는 일이기도 합니다.
							</p>


							<!-- //.page-scroll -->
						</div>
						<!-- //.who-we-are-text -->
					</div>
					<!-- //.col-md-6 -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Who We Are Section -->


	<!-- Begin Quote Section -->
	<section id="quote" class="section section-bgimage-yes">
		<div class="section-inner">
			<div class="section-overlay"></div>

			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="quote-text text-center">
							<span class="quote-icon"> <i class="fa fa-quote-right fa-4x"></i>
							</span>

							<h2  style="font-weight: 300;">
								We should empower people with technology.<br>
								Let's amplify their capability, amplify their ingenuity.<br><br>
								I believe what that opportunity and responsibility that we all have as developers to build that common ground with our fellow human beings, to have that impact.<br><br>
								Thank you so much again for being here, inspiring us, and I hope that this is something that we as developers can take forward with the choices we make.<br>
							</h2>

							<h2 class="lead quote-by">(Satya Nadella, Chief Executive Officer, Microsoft)</h2>
						</div>
						<!-- //.quote-text -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Quote Section -->




	<!-- Begin Why Us Section -->
	<section id="why-us" class="section">
		<div class="section-inner">
			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2 class="main-title">Why Choose Us?</h2>

							<h3 class="sub-title">6 Reasons Why We Are The Best</h3>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<!-- Begin Content Boxes -->
				<div class="row">
					<div class="col-sm-4 col-md-4">
						<div class="content-boxes style-two top-column clearfix">
							<span class="content-boxes-icon"> <i class="fa fa-rocket"></i>
							</span>

							<div class="content-boxes-text">
								<h4>기술력</h4>

								<p>창업자 3명이 개발자로 도합 약 50년의 개발 경력을 자랑 합니다. 직접 체인을 사용 및 운영해보고 코드 레벨로 분석하여 기존에 없던 결과물을 만들어 나가고 있습니다.</p>
							</div>
							<!-- //.content-boxes-text -->
						</div>
						<!-- //.content-boxes -->
					</div>
					<!-- //.col-sm-4 col-md-4 -->

					<div class="col-sm-4 col-md-4">
						<div class="content-boxes style-two top-column clearfix">
							<span class="content-boxes-icon"> <i class="fas fa-thumbs-up"></i>
							</span>

							<div class="content-boxes-text">
								<h4>신뢰</h4>

								<p>dsrv labs 는 말로만 떠들지 않습니다. 오히려 말주변이 없을지 모릅니다. 연구 결과를 인터넷에 공개하고 있고 많은 분들과 소통하고 있습니다. 또한 함께하고 있는 파트너들의 면면을 보시면 보다 높은 신뢰를 느끼실 수 있습니다.</p>
							</div>
							<!-- //.content-boxes-text -->
						</div>
						<!-- //.content-boxes -->
					</div>
					<!-- //.col-sm-4 col-md-4 -->

					<div class="col-sm-4 col-md-4">
						<div class="content-boxes style-two top-column clearfix">
							<span class="content-boxes-icon"> <i class="fas fa-star"></i>
							</span>

							<div class="content-boxes-text">
								<h4>교육/컨설팅</h4>

								<p>연구 결과를 인터넷에 공개하고 있지만, 직접 찾아가 교육 및 컨설팅도 진행하고 있습니다. 실제로 구현/분석한 것을 토대로 교육과 컨설팅을 하고 있어 실무에 도움이 되실겁니다.</p>
							</div>
							<!-- //.content-boxes-text -->
						</div>
						<!-- //.content-boxes -->
					</div>
					<!-- //.col-sm-4 col-md-4 -->
				</div>
				<!-- //.row -->

				<div class="row">
					<div class="col-sm-4 col-md-4">
						<div class="content-boxes style-two bottom-column not-right-column clearfix">
							<span class="content-boxes-icon"> <i class="fas fa-network-wired"></i>
							</span>
							<div class="content-boxes-text">
								<h4>노드 운영</h4>

								<p>2018년 초 부터 마스터노드 운영(manoshare.com) 사업을 시작으로 여러 노드를 운영하고 있습니다. 특히, 몇몇 코인에는 Block Producer/Validator 등으로 참여하고 있어 실무적인 경험을 공유하고 있습니다.</p>
							</div>
							<!-- //.content-boxes-text -->
						</div>
						<!-- //.content-boxes -->
					</div>
					<!-- //.col-sm-4 col-md-4 -->

					<div class="col-sm-4 col-md-4">
						<div class="content-boxes style-two bottom-column not-right-column clearfix">
							<span class="content-boxes-icon"> <i class="far fa-check-circle"></i>
							</span>
							<div class="content-boxes-text">
								<h4>Core 연구</h4>

								<p>블록체인의 핵심은 역시 Core 에 있습니다. 여러 블록체인들의 Core 를 연구 함으로써 장/단점을 찾아내고 실질적 블록체인 검증을 할 수 있습니다.</p>
							</div>
							<!-- //.content-boxes-text -->
						</div>
						<!-- //.content-boxes -->
					</div>
					<!-- //.col-sm-4 col-md-4 -->

					<div class="col-sm-4 col-md-4">
						<div class="content-boxes style-two bottom-column clearfix">
							<span class="content-boxes-icon"> <i class="fas fa-map-marker-alt"></i>
							</span>

							<div class="content-boxes-text">
								<h4>위치</h4>

								<p>블록체인 성지인 논스(nonce)에 위치해 있습니다. 이곳에서 여러 개발자/기획자/스타트업 들과 소통하며 아이디어도 얻고 발전시키고 있습니다. 논스로 찾아오시면 저의 일하고 있는 모습을 보실 수 있습니다.</p>
							</div>
							<!-- //.content-boxes-text -->
						</div>
						<!-- //.content-boxes -->
					</div>
					<!-- //.col-sm-4 col-md-4 -->
				</div>
				<!-- //End Content Boxes -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Why Us Section -->








	<!-- Begin Keep In Touch Section -->
	<section id="keep-in-touch" class="section section-bgimage-yes">
		<div class="section-inner">
			<div class="section-overlay"></div>

			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="main-title">Keep In Touch With Us</h3>

							<h4 class="sub-title">We Would Love to Know From You</h4>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<div class="row">

					<div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-1">
						<div class="social-icon-item text-center not-right-column top-column">
							<a href="#twitter"> <span class="social-icon"> <i class="fab fa-twitter"></i>
							</span>

								<h4>Twitter</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->


					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="social-icon-item text-center not-right-column">
							<a href="#youtube"> <span class="social-icon"> <i class="fab fa-youtube fa-5x"></i>
							</span>

								<h4>Youtube</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->

					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="social-icon-item text-center not-right-column">
							<a href="#github"> <span class="social-icon"> <i class="fab fa-github fa-5x"></i>
							</span>

								<h4>Github</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->

					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="social-icon-item text-center not-right-column">
							<a href="#discord"> <span class="social-icon"> <i class="fab fa-discord fa-5x"></i>
							</span>

								<h4>Discord</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->

					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="social-icon-item text-center">
							<a href="#medium">
								<span class="social-icon"> <i class="fab fa-medium fa-5x"></i> </span>
								<h4>Medium</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Keep In Touch Section -->


	<!-- Begin Meet The Team Section -->
	<section id="meet-the-team" class="section">
		<div class="section-inner">
			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="main-title">Meet The Team</h3>

							<h4 class="sub-title">We Are Here For You</h4>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<style>
					#myMemberList { width: 70%;}
					#myMemberList img {
						width: 100%;
						height: 100%;
					}
				</style>

				<div class="container" id="myMemberList">

					<div class="col-sm-6 col-md-4 team-item not-right-column top-column">
						<div class="img-rounded team-element">
							<div class="team-inner">
								<div class="team-detail">
									<div class="team-content">
										<h4 style="margin-bottom: 0px;">김지윤</h4>
										<p>
											(Jiyun Kim)<br><br>
											CEO<br>
											- Blockchain Expert
										</p>
									</div>
									<!-- //.team-content -->
								</div>
								<!-- //.team-detail -->
							</div>
							<!-- //.team-inner -->

							<img src="assets/myimg/member1.png" alt="" class="img-responsive img-rounded" />
						</div>
						<!-- //.team-element -->
					</div>
					<!-- //.team-item -->

					<div class="col-sm-6 col-md-4 team-item not-right-column">
						<div class="img-rounded team-element">
							<div class="team-inner">
								<div class="team-detail">
									<div class="team-content">
										<h4 style="margin-bottom: 0px;">전정호</h4>
										<p>
											(Jeongho Jeon)<br><br>
											CTO<br>
											- Blockchain Research
										</p>
									</div>
									<!-- //.team-content -->
								</div>
								<!-- //.team-detail -->
							</div>
							<!-- //.team-inner -->

							<img src="assets/myimg/member2.png" alt="" class="img-responsive img-rounded" />
						</div>
						<!-- //.team-element -->
					</div>
					<!-- //.team-item -->

					<div class="col-sm-6 col-md-4 team-item not-right-column">
						<div class="img-rounded team-element">
							<div class="team-inner">
								<div class="team-detail">
									<div class="team-content">
										<h4 style="margin-bottom: 0px;">김종광</h4>
										<p>
											(Jongkwang Kim)<br><br>
											CTO<br>
											- Service Expert
										</p>
									</div>
									<!-- //.team-content -->
								</div>
								<!-- //.team-detail -->
							</div>
							<!-- //.team-inner -->

							<img src="assets/img/team1.jpg" alt="" class="img-responsive img-rounded" />
						</div>
						<!-- //.team-element -->
					</div>
					<!-- //.team-item -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Meet The Team Section -->


	<!--&lt;!&ndash; Begin Testimonials Section &ndash;&gt;-->
	<!--<section id="testimonials" class="section section-bgimage-yes">-->
	<!--<div class="section-inner">-->
	<!--<div class="section-overlay"></div>-->

	<!--<div class="container section-content">-->
	<!--<div class="row">-->
	<!--<div class="col-md-12">-->
	<!--<div class="section-title text-center">-->
	<!--<h2 class="main-title">Testimonials</h2>-->

	<!--<h3 class="sub-title">We Make Our Customers Happy</h3>-->

	<!--<span class="section-line"></span>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.section-title &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-12 &ndash;&gt;-->
	<!--</div>    -->
	<!--&lt;!&ndash; //.row &ndash;&gt;-->

	<!--<div class="row">-->
	<!--<div class="col-md-4">-->
	<!--<div class="testimonial-item not-right-column not-bottom-column">-->
	<!--<div class="testimonial-content">-->
	<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

	<!--<blockquote>-->
	<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>-->
	<!--</blockquote>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

	<!--<div class="testimonial-info clearfix">-->
	<!--<img width="100" src="assets/img/testimonial-image-1.jpg" alt="" class="img-circle img-thumbnail"/>-->

	<!--<p class="testimonial-author">-->
	<!--@Jane Doe, Jakarta-->
	<!--<br>-->
	<!--<em>Co-Founder at Cisco</em>-->
	<!--</p>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

	<!--<div class="col-md-4">-->
	<!--<div class="testimonial-item not-right-column not-bottom-column">-->
	<!--<div class="testimonial-content">-->
	<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

	<!--<blockquote>-->
	<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>-->
	<!--</blockquote>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

	<!--<div class="testimonial-info clearfix">-->
	<!--<img width="100" src="assets/img/testimonial-image-2.jpg" alt="" class="img-circle img-thumbnail"/>-->

	<!--<p class="testimonial-author">-->
	<!--@John Doe, Jakarta-->
	<!--<br>-->
	<!--<em>Creative Director at Apple</em>-->
	<!--</p>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

	<!--<div class="col-md-4">-->
	<!--<div class="testimonial-item not-bottom-column">-->
	<!--<div class="testimonial-content">-->
	<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

	<!--<blockquote>-->
	<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>-->
	<!--</blockquote>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

	<!--<div class="testimonial-info clearfix">-->
	<!--<img width="100" src="assets/img/testimonial-image-3.jpg" alt="" class="img-circle img-thumbnail"/>-->

	<!--<p class="testimonial-author">-->
	<!--@John Doe, Jakarta-->
	<!--<br>-->
	<!--<em>Managet at Microsoft</em>-->
	<!--</p>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.row &ndash;&gt;-->
	<!---->
	<!--<div class="row">-->
	<!--<div class="col-md-4">-->
	<!--<div class="testimonial-item not-right-column">-->
	<!--<div class="testimonial-content">-->
	<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

	<!--<blockquote>-->
	<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>-->
	<!--</blockquote>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

	<!--<div class="testimonial-info clearfix">-->
	<!--<img width="100" src="assets/img/testimonial-image-4.jpg" alt="" class="img-circle img-thumbnail"/>-->

	<!--<p class="testimonial-author">-->
	<!--@John Doe, Jakarta-->
	<!--<br>-->
	<!--<em>Co-Founder at Cisco</em>-->
	<!--</p>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

	<!--<div class="col-md-4">-->
	<!--<div class="testimonial-item not-right-column">-->
	<!--<div class="testimonial-content">-->
	<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

	<!--<blockquote>-->
	<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>-->
	<!--</blockquote>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

	<!--<div class="testimonial-info clearfix">-->
	<!--<img width="100" src="assets/img/testimonial-image-5.jpg" alt="" class="img-circle img-thumbnail"/>-->

	<!--<p class="testimonial-author">-->
	<!--@Jane Doe, Jakarta-->
	<!--<br>-->
	<!--<em>Creative Director at Apple</em>-->
	<!--</p>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

	<!--<div class="col-md-4">-->
	<!--<div class="testimonial-item">-->
	<!--<div class="testimonial-content">-->
	<!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

	<!--<blockquote>-->
	<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>-->
	<!--</blockquote>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

	<!--<div class="testimonial-info clearfix">-->
	<!--<img width="100" src="assets/img/testimonial-image-6.jpg" alt="" class="img-circle img-thumbnail"/>-->

	<!--<p class="testimonial-author">-->
	<!--@Jane Doe, Jakarta-->
	<!--<br>-->
	<!--<em>Managet at Microsoft</em>-->
	<!--</p>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.row &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.section-container &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.section-inner &ndash;&gt;-->
	<!--</section>-->
	<!--&lt;!&ndash; //End Testimonials Section &ndash;&gt;-->




	<!--&lt;!&ndash; Begin Coming Soon Section &ndash;&gt;-->
	<!--<section id="coming-soon" class="section section-bgimage-yes">-->
	<!--<div class="section-inner">-->
	<!--<div class="section-overlay"></div>-->

	<!--<div class="container section-content">-->
	<!--<div class="row">-->
	<!--<div class="col-md-12">-->
	<!--<div class="section-title text-center">-->
	<!--<h3 class="main-title">Coming Soon</h3>-->

	<!--<h3 class="sub-title">We're Making Something Interesting and Awesome Products Amazing</h3>-->

	<!--<span class="section-line"></span>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.section-title &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-12 &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.row &ndash;&gt;-->

	<!--<div class="row">-->
	<!--<div class="col-md-12">-->
	<!--<div class="countdown text-center">-->
	<!--<div class="cd-content" data-year="2020" data-month="1" data-day="1"></div>-->
	<!--</div>-->
	<!--&lt;!&ndash; /.countdown &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-12 &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.row &ndash;&gt;-->

	<!--<div class="row">-->
	<!--<div class="col-md-4 col-md-offset-4">-->
	<!--<div class="countdown-form">-->
	<!--<form role="form">-->
	<!--<div class="input-group">-->
	<!--<input type="text" class="form-control input-lg" placeholder="example@rinjani.com">-->

	<!--<span class="input-group-btn">-->
	<!--<button type="submit" class="btn btn-lg btn-rj">Notify Me</button>-->
	<!--</span>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.input-group &ndash;&gt;-->
	<!--</form>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.countdown-form &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-4 col-md-offset-4 &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.row &ndash;&gt;-->

	<!--<div class="row">-->
	<!--<div class="col-md-8 col-md-offset-2">-->
	<!--<div class="countdown-text text-center">-->
	<!--<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
	<!--</div>-->
	<!--&lt;!&ndash; //.countdown-text &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.col-md-8 col-md-offset-2 &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.row &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.section-content &ndash;&gt;-->
	<!--</div>-->
	<!--&lt;!&ndash; //.section-inner &ndash;&gt;-->
	<!--</section>-->
	<!--&lt;!&ndash; //End Coming Soon Section &ndash;&gt;-->


	<!-- Begin Our Main Skills Section -->
	<section id="our-main-skills" class="section section-bgimage-yes">
			<div class="section-inner">
				<div class="section-overlay"></div>
	
				<div class="container section-content">
					<div class="row">
						<div class="col-md-12">
							<div class="section-title text-center">
								<h3 class="main-title">Our Skills</h3>
	
								<h3 class="sub-title">We Have Creativity And Knowledge To Development</h3>
	
								<span class="section-line"></span>
							</div>
							<!-- //.section-title -->
						</div>
						<!-- //.col-md-12 -->
					</div>
					<!-- //.row -->
	
					<div class="row">
						<div class="col-md-6">
							<div class="bar-chart-text" style="text-align: left">
								<p class="lead">
									<strong>김지윤(Jiyun Kim) CEO</strong>
								</p>
								<p>
									- Nick: SigmoiD<br>
									- Contact: jiyun.kim@dsrvlabs.com<br>
									- Linkedin: https://www.linkedin.com/in/jiyun-kim-61a44438/
								</p>
								<p class="lead">
									Development
								</p>
								<p>
									- Ethereum code analysis blog: https://steemit.com/@sigmoid<br>
									- GitHub: https://github.com/NAKsir-melody
								</p>
								<p class="lead">
									Github
								</p>
								<p>
									- cpp_ssz : <a href="https://github.com/NAKsir-melody/cpp_ssz" target="_blank">Serialization for Ethereum 2.0 (c++, PoC)</a><br>
									- Ethereum rawdb analysis : <a href="https://github.com/NAKsir-melody/Ethereum-rawdb-analysis" target="_blank">Decoding RLP with private data</a><br>
									- PrivateML on Ethereum : <a href="https://github.com/NAKsir-melody/privateml-on-ethereum.git" target="_blank">Proof of concept for private machine learning with ethereum(for FE, MPC)</a><br>
									- Go-ethereum comments translation project : Comments translation project in korean <a href="https://github.com/NAKsir-melody/go-ethereum-korean" target="_blank">#1</a> <a href="https://www.sigmoid.dev/go-ethereum-korean/index.html" target="_blank">#2</a>
								</p>
								<p class="lead">
									Presentations & publish
								</p>
								<p>
									- <a href="https://hackmd.io/j8iKhuZURMi0hPzs6WzCWg" target="_blank">EthereumDB in a nutshell</a><br>
									- <a href="https://hackmd.io/ktrDCA-JTBWX9H1Nso7Gcg" target="_blank">All about Ethereum Gas</a><br>
									- <a href="https://hackmd.io/bN3v1UERT_yz5D4m8NvGRg" target="_blank">Event: for outside watchers</a><br>
									- <a href="http://bit.ly/whisper_sigmoid" target="_blank">Whisper</a><br>
									- <a href="http://bit.ly/ethereum_sigmoid" target="_blank">My ethereum analysis</a><br>
									- <a href="http://bit.ly/eth_data_layer" target="_blank">Ethereum data layer</a><br>
									- <a href="http://bit.ly/look_into_geth" target="_blank">Look into Geth</a>
								</p>
								<p class="lead">
									Translations (EN->KR)
								</p>
								<p>
									- <a href="http://bit.ly/zksnarks-korean" target="_blank">ZKSNARKS in a nut shell</a><br>
									- <a href="http://bit.ly/pbft_korean" target="_blank">Practical_Byzantine_Fault_Tolerance(korean)</a><br>
								</p>
							</div>
							<!-- //.bar-chart-text -->
						</div>
						<!-- //.col-md-5 -->
	
						<div class="col-md-6">
							<div class="bar-chart-text" style="text-align: left">
								<p class="lead">
									<strong>전정호(Jeongho Jeon) CTO</strong>
								</p>
								<p>
									- Nick: maczniak<br>
									- Contact: jeongho.jeon@dsrvlabs.com<br>
									- Linkedin: https://www.linkedin.com/in/jeongho-jeon
								</p>
								<p class="lead">
									Development
								</p>
								<p>
									- GitHub: https://github.com/maczniak
								</p>
								<p class="lead">
									Github
								</p>
								<p>
									- Video : <a href="https://github.com/state-of-blockchain/blockchain-conference-videos" target="_blank">blockchain-conference-videos</a><br>
									- Slide : <a href="https://github.com/state-of-blockchain/slides" target="_blank">State of Blockchain</a><br>
									- Annotated-ethereum-yellowpaper : <a href="https://github.com/state-of-blockchain/annotated-ethereum-yellowpaper" target="_blank">Symbol guide for Ethereum Yellow Paper</a>
								</p>
								<p class="lead">
									Presentations & publish
								</p>
								<p>
									- <a href="http://bit.ly/lookintogeth" target="_blank">(2018.12.18) Devstamp : Look into Geth (Slide)</a><br>
									- (2018.11.17) Radical Market Meetup : Radical Market and Blockchain (<a href="https://www.youtube.com/watch?v=Z3LNkB2BH8s" target="_blank">video</a>, <a href="http://www.fnnews.com/news/201811181240070361" target="_blank">newspaper</a>)<br>
									- (2018.08.10) Etherstudy 3rd Conference : Scalability Techniques: Sharding<br>
									- <a href="https://www.youtube.com/watch?v=NUqhdS4hdoY" target="_blank">(2018.07.23) Whitepaper Foundation, Counterfactual (Video)</a><br>
									- <a href="https://www.youtube.com/watch?v=aJYqkczXJMI" target="_blank">(2018.07.16) Whitepaper Foundation, Accumulator (Video)</a><br>
									- <a href="https://www.youtube.com/watch?v=g9vjxQ0P17A" target="_blank">(2018.07.09) Whitepaper Foundation, Stateless Block Verification (Video)</a><br>
									- <a href="https://drive.google.com/file/d/1U1dzj2fXGm98I-R7rUxNNvFII6dvQlV6/view" target="_blank">(2018.03.09) Etherstudy Conference, POS Consensus Algorithm Capser (Slide)</a>
								</p>
							</div>
							<!-- //.bar-chart-text -->


							<div class="bar-chart-text" style="text-align: left">
								<hr>
								<p class="lead">
									<strong>김종광(Jongkwang Kim) CTO</strong>
								</p>
								<p>
									- Contact: jongkwang.kim@dsrvlabs.com<br>
									- Linkedin: https://www.linkedin.com/in/jongkwang
								</p>
								<p class="lead">
									Development
								</p>
								<p>
									- GitHub: https://github.com/jongkwang<br>
									- GitHub : https://github.com/iot-labs (IoT Labs project)
								</p>
								<p class="lead">
									Github
								</p>
								<p>
									- <a href="https://github.com/jongkwang/blockchain-lecture" target="_blank">Blockchain Lecture</a><br>
									- <a href="https://github.com/iot-labs/communication" target="_blank">IoT Labs (communication)</a><br>
									- <a href="https://github.com/iot-labs/farm" target="_blank">IoT Labs (Farm)</a><br>
									- <a href="https://github.com/iot-labs/dashboard" target="_blank">IoT Labs (Dashboard)</a>
								</p>
								<p class="lead">
									Presentations & Publish & Awards
								</p>
								<p>
									- Wrote "Blockchain, the center of 4th Industrial Revolution"<br>
									- <a href="https://onoffmix.com/event/178751" target="_blank">Speaker, Ethereum community of Korea : Universal Login</a><br>
									- <a href="https://ethcon.kr" target="_blank">Speaker, Ethereum conference (ethcon Korea)</a><br>
									- <a href="https://www.linkedin.com/in/jongkwang/detail/treasury/position:570026916/?entityUrn=urn%3Ali%3Afs_treasuryMedia%3A(ACoAAAgj19wBC5kQLlrmIr82M3sTV1GTrwf87vE%2C50309113)&section=position%3A570026916&treasuryCount=8" target="_blank">3rd award, Naver D2 Fest, Naver Inc.</a><br>
									- Award 3th place in Ministry of Science and ICT (Dec.2017)<br>
									- <a href="http://sencha.or.kr/?p=755" target="_blank">Published Sencha E-Book, with Korea Sencha User Group</a><br>
									- <a href="http://www.yes24.com/Product/Goods/7512858?Acode=101" target="_blank">Dreamweaver and Mobile Webapp and PhoneGap - Book reviewer</a><br>
									- Technical magazines writing. (<a href="https://jongkwang.com/?p=989" target="_blank">Web magazine</a>, <a href="https://jongkwang.com/?p=976" target="_blank">MicroSoftware</a>)<br>
								</p>
							</div>
						</div>
						<!-- //.col-md-6 -->
					</div>
					<!-- //.row -->
				</div>
				<!-- //.section-content -->
			</div>
			<!-- //.section-inner -->
		</section>
		<!-- //End Our Main Skills Section -->



	<!-- Begin Our History Section -->
	<section id="our-history" class="section">
		<div class="section-inner">
			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2 class="main-title">Our History</h2>

							<h3 class="sub-title">Travel Through Time With Us!</h3>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<style>
					#timeline img {
						width: 100%;
					}
				</style>

				<div class="row">
					<div class="col-md-12">

						<!-- Begin Timeline -->
						<ul class="timeline" id="timeline">
							<li class="timeline-inverted">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="right" title="" data-original-title="4 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_05_factom.png" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>May.2019.</small><br>
												<a href="https://www.factom.com/" target="_blank" style="text-decoration: underline">Factom</a> Validator 제안 중
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- Factom, 23곳 Block Validator 중 1곳으로 제안 중<br>
											- Factom, Test node 운영 중<br>
											- Factom 에 Grant 제안 진행 중
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>
							<li class="timeline-badge">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="left" title="" data-original-title="4 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_04_ethcon.png" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>May.2019.</small><br>
												<a href="https://ethcon.kr/" target="_blank" style="text-decoration: underline">ethcon</a> 발표
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- ethcon 발표 (코엑스 그랜드볼룸)<br>
											- 김지윤 CEO : Parsing Ethereum Database<br>
											- 김종광 CTO : Universal Login of Ethereum
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="right" title="" data-original-title="4 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_03_etherstudy.jpg" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>May.2019.</small><br>
												<a href="https://www.etherstudy.net/" target="_blank" style="text-decoration: underline">이더리움연구회</a> 발표
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- 김종광 CTO, 이더리움연구회 발표<br>
											- Universal Login of Ethereum
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="right" title="" data-original-title="7 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_02_nonce.png" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>May.2019.</small><br>
												<a target="_block" href="https://nonce.community/" style="text-decoration: underline">nonce</a>와 연구활동 관련 MOU 채결
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- <a target="_block" href="https://nonce.community/" style="text-decoration: underline">nonce</a>와 연구활동 및 기술개발 MOU 채결<br>
											- Factom 블록체인 프로젝트 진행<br>
											- Validator 프로젝트 진행<br>
											- 기술 및 연구개발 파트너
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>
							<li class="timeline-badge">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="left" title="" data-original-title="4 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_01_dsrvlabs.jpg" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>Apr.2019.</small><br>
												Establish a dsrv labs.
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- dsrv labs. 설립<br>
											- 블록체인 연구 활동 진행
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>



						</ul>
						<!-- //End Timeline -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->


		<p>Hello</p>
		<div>

			<ul class="taxonomy__index">
				{% assign postsInYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
				{% for year in postsInYear %}
				  <li>
					<a href="#{{ year.name }}">
					  <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
					</a>
				  </li>
				{% endfor %}
			  </ul>
			  
			  {% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
			  {% for year in postsByYear %}
				<section id="{{ year.name }}" class="taxonomy__section">
				  <h2 class="archive__subtitle">{{ year.name }}</h2>
				  <div class="entries-{{ page.entries_layout | default: 'list' }}">
					{% for post in year.items %}
					  {% include archive-single.html type=page.entries_layout %}
					{% endfor %}
				  </div>
				  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
				</section>
			  {% endfor %}
			  

		</div>
		<p>end</p>


	</section>
	<!-- //End Our History Section -->


	<!-- Begin Contact Us Section -->
	<section id="contact-us" class="section section-bgimage-yes">
		<div class="section-inner">
			<div class="section-overlay"></div>

			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="main-title">Contact Us1</h3>

							<h4 class="sub-title">간단한 설명과 연락처 남겨주시면, 연락 드리겠습니다</h4>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<div class="row">
					<div class="col-md-12">
						<div class="form-respond text-center"></div>
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->


				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="main-title">jiyun.kim@dsrvlabs.com</h3>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->


			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Contact Us Section -->




	<!-- Begin Footer -->
	<footer class="footer">

		<!-- Begin Footer Section -->
		<section id="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 footer-column not-right-column">
						<div class="footer-text">
							<h4>Get In Touch</h4>

							<p>dsrv labs.</p>

							<ul class="icon-list list-unstyled">
								<!--<li>-->
								<!--<i class="fa fa-phone"></i> +622176811-->
								<!--</li>-->

								<li><i class="fas fa-envelope"></i> jiyun.kim@dsrvlabs.com</li>

								<li><i class="fas fa-map-marker"></i> 서울 강남구 봉은사로22길 45-9, nonce</li>

								<li><i class="fas fa-clock"></i> Monday to Friday - 9:30 AM to 18:30 PM</li>
							</ul>

							<ul class="social-icon-list list-unstyled list-inline">
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>

								<li><a href="#"><i class="fab fa-youtube"></i></a></li>

								<li><a href="#"><i class="fab fa-github"></i></a></li>

								<li><a href="#"><i class="fab fa-discord"></i></a></li>

								<li><a href="#"><i class="fab fa-medium"></i></a></li>
							</ul>
						</div>
						<!-- //.footer-text -->
					</div>
					<!-- //.footer-column -->

					<div class="col-sm-4 col-md-4 footer-column not-right-column">
						<div class="footer-text">
							<h4>About Us</h4>

							<p>
								블록체인 기술에 대한 연구와 컨설팅을 진행하는 연구소 입니다.
								블록체인 기술 만큼 검증보다 투자가 먼저 몰리는 분야도 없을 것입니다. 그만큼 미래를 바꿀 기술이기도 하지만, 기술 검증이 필요한 분야 이기도 합니다. 
								저희 dsrv labs 에서는 블록체인 기술을 실제로 운영하며 코드를 분석하여 객관적인 정보를 전달하겠습니다. 누군가는 중립적인 그리고 개발자적인 레벨에서 분석과 연구가 필요하다고 생각하며 저희가 가장 잘 할 수 있는 일이기도 합니다.
							</p>
						</div>
						<!-- //.footer-text -->
					</div>
					<!-- //.footer-column -->

					<div class="col-sm-4 col-md-4 footer-column">&nbsp;</div>
					<!-- //.footer-column -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.container -->
		</section>
		<!-- //End Footer Section -->

		<!-- Begin Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>
							<a href="#">dsrv labs</a>
						</p>
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.container -->
		</div>
		<!-- //End Copyright -->
	</footer>
	<!-- //End Footer -->


	<!-- Plugins JS -->
	<script src="assets/plugins/jquery.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
	<script src="assets/plugins/smartresize/smartresize.js"></script>
	<script src="assets/plugins/jquery-easing/jquery.easing.min.js"></script>
	<script src="assets/plugins/jquery-sticky/jquery.sticky.js"></script>
	<script src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
	<script src="assets/plugins/jquery-countTo/jquery.countTo.js"></script>
	<script src="assets/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
	<script src="assets/plugins/jquery-countdown/jquery.countdown.min.js"></script>
	<script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
	<script src="assets/plugins/jquery-magnificPopup/jquery.magnific-popup.min.js"></script>
	<script src="assets/plugins/jquery-validation/jquery.validate.min.js"></script>

	<!-- Main JS -->
	<script src="assets/js/main.js"></script>

	<!-- Animation JS (Optional) -->
	<script src="assets/js/animation.js"></script>

	<!-- Component JS -->
	<script src="assets/js/component/bar-chart.js"></script>
	<script src="assets/js/component/countdown.js"></script>
	<script src="assets/js/component/counters.js"></script>
	<script src="assets/js/component/pie-chart.js"></script>
	<script src="assets/js/component/portfolio.js"></script>
	<script src="assets/js/component/animation.js"></script>

	<!-- Map JS -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
	<!-- <script src="assets/js/component/map.js"></script> -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140408107-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-140408107-1');
	</script>



</body>

</html>
