---
layout: null
author_profile: true
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ko" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<title>dsrv labs - Blockchain research labs.</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- 검색 노출 허용 -->
<meta name="robots" content="index">
<!-- 대표 이미지 URL (이미지를 여러 개 지정할 수 있음) -->
<link rel="image_src" href="https://www.dsrvlabs.com/assets/myimg/timeline_01_dsrvlabs.jpg" />

<!-- 기본 사이트 설정 -->
<meta content="블록체인 연구소 - dsrv labs. Block Validator, Block Producer, Analysis, Zero-knowledge proof" name="description">
<meta content="dsrvlabs, 블록체인, blockchain, 이더리움, ethereum, factom, 팩텀, 블록체인 연구소, 블록체인 코어, blockchain core" name="keywords">


<!-- Twitter Meta Tags -->
<!-- 트위터 카드 summary는 웹페이지에 대한 요약정보를 보여주는 카드로 우측에 썸네일을 보여주고 그 옆에 페이지의 제목과 요약 내용을 보여준다.-->
<meta name="twitter:card" content="summary" />
<!-- 트위터 카드를 사용하는 표시하고싶은URL-->
<meta name="twitter:url" content="https://www.dsrvlabs.com" />
<!-- 트위터 카드에 나타날 웹 사이트의 제목-->
<meta name="twitter:title" content="dsrv labs." />
<!-- 트위터 카드에 나타날 요약 설명-->
<meta name="twitter:description" content="블록체인 연구소 - dsrv labs" />
<!-- 트위터 카드에 보여줄 대표 이미지 URL-->
<meta name="twitter:image" content="https://www.dsrvlabs.com/assets/myimg/timeline_01_dsrvlabs.jpg" />
<!-- 트위터 카드에 사이트 배포자 트위터아이디-->
<meta name="twitter:site" content="@jongkwang" />
<!-- 트위터 카드에 배포자 트위터아이디 -->
<meta name="twitter:creator" content="@jongkwang" />

<!-- Facebook Meta Tags -->
<!-- <meta property="fb:app_id" content="dsrv labs." />       앱아이디 -->
<!-- Naver 오픈 그래프 권고테그 -->
<!-- 웹 사이트의 제목 -->
<meta property="og:title" content="dsrv labs." />
<!-- 사이트 종류 -->
<meta property="og:type" content="website" />
<!-- 대표 이미지 URL (이미지를 여러 개 지정할 수 있음) -->
<meta property="og:image" content="https://www.dsrvlabs.com/assets/myimg/timeline_01_dsrvlabs.jpg" />
<!-- 웹 사이트의 제목 -->
<meta property="og:site_name" content="블록체인 연구소 - dsrv labs." />
<!-- 표시하고싶은URL -->
<meta property="og:url" content="https://www.dsrvlabs.com" />
<!-- 페이지 설명 -->
<meta property="og:description" content="블록체인 연구소 - dsrv labs. Block Validator, Block Producer, Analysis, Zero-knowledge proof" />

<!-- Google Font -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Belleza&display=swap" rel="stylesheet"> <!-- Main title font -->

<!-- Bootstrap Core CSS -->
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Plugins CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<!-- <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
<link href="assets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/jquery-magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">

<!-- Component CSS -->
<link href="assets/css/component/component.css" rel="stylesheet" type="text/css">

<!-- Main CSS -->
<link href="assets/css/rinjani.css" rel="stylesheet" type="text/css">

<!-- Color CSS -->
<link href="assets/css/colors/blue.css" rel="stylesheet" type="text/css">
<link href="assets/css/component/colors/blue.css" rel="stylesheet" type="text/css">

<style>
	* {text-transform: none !important}
</style>

<!-- Modernizr JS for IE9 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="assets/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="51">

	<!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Begin Page Loader -->
	<div id="page-loader">
		<div class="preload">
			<img src="assets/img/preloader.gif" alt="Loading" />
		</div>
		<!-- //.preload -->
	</div>
	<!-- //End Page Loader -->





	<!-- Begin Navbar -->
	<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#page-top" style="font-weight: 300; font-family: 'Belleza', sans-serif;">dsrv labs.</a>
			</div>
			<!-- //.navbar-header -->

			<div class="navbar-collapse collapse navbar-rj-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="page-scroll"><a href="#blogSection">Blog</a></li>
					<li class="page-scroll"><a href="#who-we-are">About</a></li>
					<li class="page-scroll"><a href="#meet-the-team">Team</a></li>
					<li class="page-scroll"><a href="#our-main-skills">Skills</a></li>
					<li class="page-scroll"><a href="#our-history">History</a></li>
					<li class="page-scroll"><a href="#contact-us">Contact</a></li>
				</ul>
			</div>
			<!-- //.navbar-collapse -->
		</div>
		<!-- //.container -->
	</nav>
	<!-- //End Navbar -->




	<!-- Begin Quote Section -->
	<section id="quote" class="section section-bgimage-yes">
		<div class="section-inner">
			<div class="section-overlay" style="background-color: #fff"></div>

			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="quote-text text-center">
							<span class="quote-icon"> <i class="fa fa-quote-right fa-4x"></i>
							</span>

							<h2  style="font-weight: 300;">
								<!-- We serve decentralized. You deserve it! -->
								 Super Agile <small>&</small> Monthly Pivot<!--You d<small>e</small>s<small>e</small>rv<small>e</small> it! -->
								
							</h2>

							<h2 class="lead quote-by">dsrv labs <small>[/dɪˈzɜ:rv læbs/]</small></h2>
						</div>
						<!-- //.quote-text -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Quote Section -->







	<!-- Begin Our History Section -->
	<section id="our-history" class="section">
		<div class="section-inner">
			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2 class="main-title">Our History</h2>

							<h3 class="sub-title">Travel Through Time With Us!</h3>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<style>
					#timeline img {
						width: 100%;
					}
				</style>

				<div class="row">
					<div class="col-md-12">

						<!-- Begin Timeline -->
						<ul class="timeline" id="timeline">
							<li class="timeline-inverted">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="right" title="" data-original-title="4 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_05_factom.png" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>May.2019.</small><br>
												<a href="https://www.factom.com/" target="_blank" style="text-decoration: underline">Factom</a> Validator 제안 중
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- Factom, 23곳 Block Validator 중 1곳으로 제안 중<br>
											- Factom, Test node 운영 중<br>
											- Factom 에 Grant 제안 진행 중
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>
							<li class="timeline-badge">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="left" title="" data-original-title="4 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_04_ethcon.png" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>May.2019.</small><br>
												<a href="https://ethcon.kr/" target="_blank" style="text-decoration: underline">ethcon</a> 발표
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- ethcon 발표 (코엑스 그랜드볼룸)<br>
											- 김지윤 CEO : Parsing Ethereum Database<br>
											- 김종광 CTO : Universal Login of Ethereum
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="right" title="" data-original-title="4 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_03_etherstudy.jpg" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>May.2019.</small><br>
												<a href="https://www.etherstudy.net/" target="_blank" style="text-decoration: underline">이더리움연구회</a> 발표
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- 김종광 CTO, 이더리움연구회 발표<br>
											- Universal Login of Ethereum
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>
							<li class="timeline-inverted">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="right" title="" data-original-title="7 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_02_nonce.png" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>May.2019.</small><br>
												<a target="_block" href="https://nonce.community/" style="text-decoration: underline">nonce</a>와 연구활동 관련 MOU 채결
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- <a target="_block" href="https://nonce.community/" style="text-decoration: underline">nonce</a>와 연구활동 및 기술개발 MOU 채결<br>
											- Factom 블록체인 프로젝트 진행<br>
											- Validator 프로젝트 진행<br>
											- 기술 및 연구개발 파트너
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>
							<li class="timeline-badge">
								<div class="timeline-badge" data-toggle="tooltip" data-placement="left" title="" data-original-title="4 hours ago">
									<i class="fa fa-dot-circle-o"></i>
								</div> <!-- //.timeline-badge -->

								<div class="timeline-panel">
									<div class="timeline-heading">
										<img src="assets/myimg/timeline_01_dsrvlabs.jpg" alt="" class="img-responsive img-thumbnail img-rounded">
										<h4 class="timeline-title">
											<span style="color: #337ab7">
												<small>Apr.2019.</small><br>
												Establish a dsrv labs.
											</span>
										</h4>
									</div>
									<!-- //.timeline-heading -->

									<div class="timeline-body">
										<p>
											- dsrv labs. 설립<br>
											- 블록체인 연구 활동 진행
										</p>
									</div>
									<!-- //.timeline-body -->
								</div> <!-- //.timeline-panel -->
							</li>



						</ul>
						<!-- //End Timeline -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->


		<style>
			#blogSection h2.archive__item-title {
				margin-bottom: 0px;
			}
			#blogSection p.page__meta {
				margin-bottom: 0px;
			}
			#blogSection p.archive__item-excerpt {
				margin-bottom: 35px;
			}
		</style>
		<div class="section-inner" id="blogSection">
			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2 class="main-title" >Blog</h2>

							<h3 class="sub-title">Visit our blog! - <small><a href="https://www.dsrvlabs.com/blog/">https://www.dsrvlabs.com/blog/</a></small></h3>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<div class="row">


			  
					{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
					{% for year in postsByYear %}
					<section id="{{ year.name }}" class="taxonomy__section" style="text-align: center;">
						<div class="entries-{{ page.entries_layout | default: 'list' }}">
						{% for post in year.items %}
							{% include archive-single.html type=page.entries_layout %}
						{% endfor %}
						</div>
					</section>
					{% endfor %}
				</div>
			</div>
		</div>

	</section>
	<!-- //End Our History Section -->





	<!-- Begin Meet The Team Section -->
	<section id="meet-the-team" class="section" style="background-color: rgba( 0, 0, 0, 0.1 )">
		<div class="section-inner">
			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="main-title">Meet The Team</h3>

							<h4 class="sub-title">We Are Here For You</h4>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<style>
					#myMemberList { width: 80%;}
					#myMemberList img {
						width: 70%;
						height: 70%;
						filter: grayscale(90%);
					}
					#myMemberList .img-rounded.team-element {
						text-align: center;
					}
				</style>

				<div class="container" id="myMemberList" style="height: 330px;">

					<div class="col-sm-6 col-md-3 team-item not-right-column">
						<div class="img-rounded team-element">
							<div class="team-inner">
								<div class="team-detail">
									<div class="team-content">
										<h4 style="margin-bottom: 0px;">김지윤</h4>
										<p>
											(Jiyun Kim)<br><br>
											CEO<br>
											- Blockchain Expert
										</p>
									</div>
									<!-- //.team-content -->
								</div>
								<!-- //.team-detail -->
							</div>
							<!-- //.team-inner -->

							<img src="assets/myimg/member1.png" alt="" class="img-responsive img-rounded" /><br>
							Jiyun Kim<br>
							Hello World<br>
							World Hello<br>
							abc def gefe<br>
							<img src="/assets/img/linkedin-logo-512x512.png" style="height: 15px; width: 60px; filter: none;">
						</div>
						<!-- //.team-element -->
					</div>
					<!-- //.team-item -->

					<div class="col-sm-6 col-md-3 team-item not-right-column">
						<div class="img-rounded team-element">
							<div class="team-inner">
								<div class="team-detail">
									<div class="team-content">
										<h4 style="margin-bottom: 0px;">전정호</h4>
										<p>
											(Jeongho Jeon)<br><br>
											CTO<br>
											- Blockchain Research
										</p>
									</div>
									<!-- //.team-content -->
								</div>
								<!-- //.team-detail -->
							</div>
							<!-- //.team-inner -->

							<img src="assets/myimg/member2.png" alt="" class="img-responsive img-rounded" /><br>
							Jiyun Kim<br>
							Hello World<br>
							World Hello<br>
							abc def gefe<br>
							LinkedId
						</div>
						<!-- //.team-element -->
					</div>
					<!-- //.team-item -->

					<div class="col-sm-6 col-md-3 team-item not-right-column">
						<div class="img-rounded team-element">
							<div class="team-inner">
								<div class="team-detail">
									<div class="team-content">
										<h4 style="margin-bottom: 0px;">김종광</h4>
										<p>
											(Jongkwang Kim)<br><br>
											CTO<br>
											- Service Expert
										</p>
									</div>
									<!-- //.team-content -->
								</div>
								<!-- //.team-detail -->
							</div>
							<!-- //.team-inner -->

							<img src="assets/img/team1.jpg" alt="" class="img-responsive img-rounded" /><br>
							Jiyun Kim<br>
							Hello World<br>
							World Hello<br>
							abc def gefe<br>
							LinkedId
						</div>
						<!-- //.team-element -->
					</div>
					<!-- //.team-item -->

					<div class="col-sm-6 col-md-3 team-item not-right-column">
						<div class="img-rounded team-element">
							<div class="team-inner">
								<div class="team-detail">
									<div class="team-content">
										<h4 style="margin-bottom: 0px;">최형규</h4>
										<p>
											(Hyung-Kyu Choi), Ph.D. <br><br>
											CTO<br>
											- Blockchain Researcher<br>
										</p>
									</div>
									<!-- //.team-content -->
								</div>
								<!-- //.team-detail -->
							</div>
							<!-- //.team-inner -->

							<img src="assets/myimg/member3.png" alt="" class="img-responsive img-rounded" /><br>
							Jiyun Kim<br>
							Hello World<br>
							World Hello<br>
							abc def gefe<br>
							LinkedId
						</div>
						<!-- //.team-element -->
					</div>
					<!-- //.team-item -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Meet The Team Section -->



	<!-- Begin Contact Us Section -->
	<section id="contact-us" class="section section-bgimage-yes">
		<div class="section-inner">
			<div class="section-overlay"></div>

			<div class="container section-content">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="main-title">Contact Us</h3>

							<h4 class="sub-title">간단한 설명과 연락처 남겨주시면, 연락 드리겠습니다</h4>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<div class="row">
					<div class="col-md-12">
						<div class="form-respond text-center"></div>
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->


				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="main-title">jiyun.kim@dsrvlabs.com</h3>

							<span class="section-line"></span>
						</div>
						<!-- //.section-title -->
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->

				<div class="row">

					<div class="col-xs-6 col-sm-4 col-md-2 col-md-offset-1">
						<div class="social-icon-item text-center not-right-column top-column">
							<a href="#twitter"> <span class="social-icon"> <i class="fab fa-twitter" style="font-size: 5em;"></i>
							</span>

								<h4 style="color: #ddd;">Twitter</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->


					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="social-icon-item text-center not-right-column">
							<a href="#youtube"> <span class="social-icon"> <i class="fab fa-youtube fa-5x"></i>
							</span>

								<h4 style="color: #ddd;">Youtube</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->

					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="social-icon-item text-center not-right-column">
							<a href="#github"> <span class="social-icon"> <i class="fab fa-github fa-5x"></i>
							</span>

								<h4 style="color: #ddd;">Github</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->

					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="social-icon-item text-center not-right-column">
							<a href="#discord"> <span class="social-icon"> <i class="fab fa-discord fa-5x"></i>
							</span>

								<h4 style="color: #ddd;">Discord</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->

					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="social-icon-item text-center">
							<a href="#medium">
								<span class="social-icon"> <i class="fab fa-medium fa-5x"></i> </span>
								<h4 style="color: #ddd;">Medium</h4>
							</a>
						</div>
						<!-- //.social-icon-item -->
					</div>
					<!-- //.col-xs-6 col-sm-4 col-md-2 -->
				</div>
				<!-- //.row -->


			</div>
			<!-- //.section-content -->
		</div>
		<!-- //.section-inner -->
	</section>
	<!-- //End Contact Us Section -->




	<!-- Begin Footer -->
	<footer class="footer">

		<!-- Begin Footer Section -->
		<section id="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-md-4 footer-column not-right-column">
						<div class="footer-text">
							<h4>Get In Touch</h4>

							<p>dsrv labs.</p>

							<ul class="icon-list list-unstyled">
								<!--<li>-->
								<!--<i class="fa fa-phone"></i> +622176811-->
								<!--</li>-->

								<li><i class="fas fa-envelope"></i> jiyun.kim@dsrvlabs.com</li>

								<li><i class="fas fa-map-marker"></i> 서울 강남구 봉은사로22길 45-9, nonce</li>

								<li><i class="fas fa-clock"></i> Monday to Friday - 9:30 AM to 18:30 PM</li>
							</ul>

							<ul class="social-icon-list list-unstyled list-inline">
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>

								<li><a href="#"><i class="fab fa-youtube"></i></a></li>

								<li><a href="#"><i class="fab fa-github"></i></a></li>

								<li><a href="#"><i class="fab fa-discord"></i></a></li>

								<li><a href="#"><i class="fab fa-medium"></i></a></li>
							</ul>
						</div>
						<!-- //.footer-text -->
					</div>
					<!-- //.footer-column -->

					<div class="col-sm-4 col-md-4 footer-column not-right-column">
						<div class="footer-text">
							<h4>About Us</h4>

							<p>
								블록체인 기술에 대한 연구와 컨설팅을 진행하는 연구소 입니다.
								블록체인 기술 만큼 검증보다 투자가 먼저 몰리는 분야도 없을 것입니다. 그만큼 미래를 바꿀 기술이기도 하지만, 기술 검증이 필요한 분야 이기도 합니다. 
								저희 dsrv labs 에서는 블록체인 기술을 실제로 운영하며 코드를 분석하여 객관적인 정보를 전달하겠습니다. 누군가는 중립적인 그리고 개발자적인 레벨에서 분석과 연구가 필요하다고 생각하며 저희가 가장 잘 할 수 있는 일이기도 합니다.
							</p>
						</div>
						<!-- //.footer-text -->
					</div>
					<!-- //.footer-column -->

					<div class="col-sm-4 col-md-4 footer-column">&nbsp;</div>
					<!-- //.footer-column -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.container -->
		</section>
		<!-- //End Footer Section -->

		<!-- Begin Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>
							<a href="#">dsrv labs</a>
						</p>
					</div>
					<!-- //.col-md-12 -->
				</div>
				<!-- //.row -->
			</div>
			<!-- //.container -->
		</div>
		<!-- //End Copyright -->
	</footer>
	<!-- //End Footer -->


	<!-- Plugins JS -->
	<script src="assets/plugins/jquery.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
	<script src="assets/plugins/smartresize/smartresize.js"></script>
	<script src="assets/plugins/jquery-easing/jquery.easing.min.js"></script>
	<script src="assets/plugins/jquery-sticky/jquery.sticky.js"></script>
	<script src="assets/plugins/jquery-inview/jquery.inview.min.js"></script>
	<script src="assets/plugins/jquery-countTo/jquery.countTo.js"></script>
	<script src="assets/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
	<script src="assets/plugins/jquery-countdown/jquery.countdown.min.js"></script>
	<script src="assets/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
	<script src="assets/plugins/jquery-magnificPopup/jquery.magnific-popup.min.js"></script>
	<script src="assets/plugins/jquery-validation/jquery.validate.min.js"></script>

	<!-- Main JS -->
	<script src="assets/js/main.js"></script>

	<!-- Animation JS (Optional) -->
	<script src="assets/js/animation.js"></script>

	<!-- Component JS -->
	<script src="assets/js/component/bar-chart.js"></script>
	<script src="assets/js/component/countdown.js"></script>
	<script src="assets/js/component/counters.js"></script>
	<script src="assets/js/component/pie-chart.js"></script>
	<script src="assets/js/component/portfolio.js"></script>
	<script src="assets/js/component/animation.js"></script>

	<!-- Map JS -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
	<!-- <script src="assets/js/component/map.js"></script> -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140408107-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-140408107-1');
	</script>



</body>

</html>
